<div class="row">
    <div class="column">
      <div class="bloc">
              <h3>Filters</h3>
               <p class="sub-head">Launch Year</p>
               
             <div class="years" 
             *ngFor="let year of YearInfo"
              (click)="onSelect(year)"
             [class.selected]="year === selectedYear">
               <span> {{year}} </span></div>   
               
       
       <p class="sub-head1">Successful launch</p>
       <div class="years" 
       *ngFor="let flag of criteria"
        (click)="onSelectLanchSS(flag)"
       [class.selected]="flag === selectedFlagSS">
          <span>{{flag}} </span></div>  
          
          <p class="sub-head1">Successful Landing</p>
          <div class="years" 
          *ngFor="let flag of criteria"
           (click)="onSelectLandingSS(flag)"
          [class.selected]="flag === selectedFlagLand">
            <span> {{flag}}</span> </div>  
           </div>
    </div>
    
    <div class="column" *ngFor="let item of dataitems">
       
   <article class="bloc">
   <div class="img-block">
           <img
           height="180"
           width="190"
           loading="lazy"
           [src]="item.links.mission_patch"
           alt="Mission patch of {{item.mission_name }}"
         />
   </div>
    <h5>{{item.mission_name}} #{{item.flight_number}}</h5>
    <h4>Mission Ids</h4>
       <ul>
           <li class="mi-item">{{item.mission_id}}</li>
       </ul>
  <p> <span>Launch Year:</span> <span class="mi-item"> {{item.launch_year}}</span> </p>
   <p><span>Successful Launch:</span> <span class="mi-item"> {{item.launch_success}}</span> </p>
   <p> <span>Successful Landing:</span> <span class="mi-item"> {{item.launch_success}}</span></p>
  
   </article> 
    </div>
    
  </div>